git+https://GitHub.com/PyBricks/PyBricks-API
# PyBricks-Stubs >= 2.0.2   # to use official PyBricks dev version above
Python-EV3Dev2 >= 2.1.0

# deprecated
# EV3DevLight >= 0.1.5   # installation error
Python-EV3Dev >= 1.2.0
NXT-Python >= 2.2.2
NXT-Python2 >= 2.2.2

# LEGO Non-Mindstorms Programming
BrickNil >= 0.9.3
PyLGBst >= 1.2.0

# Networking
AdaFruit-AMPy >= 1.0.7
RPyC >= 4.1.5

# Auto-Refactoring
Rope >= 0.17.0
