git+https://GitHub.com/PyBricks/PyBricks-API
# PyBricks-Stubs >= 0.0.6   # to use official PyBricks dev version above
Python-EV3Dev2 >= 2.1.0

RPyC >= 4.1.5

# deprecated
Python-EV3Dev >= 1.2.0
NXT-Python >= 2.2.2
NXT-Python2 >= 2.2.2

# auto-refactoring
Rope >= 0.17.0
