# PYBRICKS
# ========

https://GitHub.com/PyBricks/PyBricks-API/archive/master.zip
# PyBricks >= 3.0.0
# PyBricks-Stubs >= 2.0.2   # use official PyBricks above
PyBricksDev >= 1.0.0.a17


# EV3
# ===

# EV3Dev Python
Python-EV3Dev2 >= 2.1.0.post1
Python-EV3Dev >= 1.2.0

EV3DevContext >= 0.36
EV3DevCmd >= 1.0.2
EV3DevLogging >= 1.0.1
EV3DevRPyC >= 1.0.1
EV3Dev2Simulator
    # ev3dev2simulator 2.0.5 depends on pymunk==5.6.0
    # ev3sim 2.2.2 depends on pymunk>=6.0.0
Thonny-EV3Dev >= 1.0.4

# deprecated
# EV3DevLight >= 0.1.5
    # installation error

# Simulators
EV3Sim >= 2.1.7   # Py3.9+: 2.2.2
PyGame >= 2.0.3

# misc
EV3-Python >= 0.0.2
# EV3Dev-C >= 1.0rc2
    # installation error
# LEGO-MicroPython-Extension >= 0.2.1.dev2019110502
    # no available distribution
# LEGO-MicroPython-Skeleton >= 0.1.9.2019103111
    # no available distribution


# NXT
# ---
https://GitHub.com/EV3Dev/NXT-Python/archive/ev3dev-stretch.zip
# NXT-Python >= 2.2.2
# NXT-Python2 >= 2.2.2
# NXT-Python-Tools >= 1.0.1
    # invalid old syntax

git+http://git.ni.fr.eu.org/pyfantom.git
PyUSB >= 1.2.1

BlockExt-Mindstorms-NXT >= 0.2
# BrickPython >= 0.4
    # installation error
KLego >= 0.98.2.6
JaRaCo.NXT >= 2.1.0

# NXTurtle >= 1.0.4.dev-20110105
    # invalid old syntax


# Non-Mindstorms
# --------------
# BrickNil >= 0.9.3
    # Windows: PythonNet dep installation fails
PyLGBst >= 1.2.2
https://GitHub.com/AntoniLuongPham/LEGO-WeDo-2.0-Python-SDK/archive/main.zip
# https://GitHub.com/JannoPet/LEGO-WeDo-2.0-Python-SDK/archive/master.zip
# WeDo2 >= 1.1.1
# WeDo >= 1.1.0
    # installation error

# BrickPi
BrickPi-Python >= 1.0

# Networking
AdaFruit-AMPy >= 1.1.0
RPyC
    # required by EV3Dev Python Tools
    # ev3devcontext 0.36 depends on rpyc==4.1.2


# PYTHON LINTING & REFACTORING
# ============================
PyLint >= 2.11.1
# Flake8 >= 4.0.1
    # included in Prospector
MyPy >= 0.910
PyDocStyle >= 6.1.1
PyCodeStyle >= 2.8.0
Prospector >= 1.5.1
PyLama >= 7.7.1
Bandit >= 1.7.0
Rope >= 0.21.0
